body {
	text-align: center;
}

nav {
	background-color: #808080;
}

nav a {
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}

header {
	text-align: center;
	width: 50%
}

h1 {
	color: rgb(2, 132, 130);

}
h2 {
	color: #ffd700;
}
p {
	text-align: center;
}

.board {
	display: block;
	height: 50%;
	width: 50%;	
}

.card {
	height: 200px;
	width: 150px;
	border: black solid 1px;
	border-radius: 10px;
	background-color: yellow;
	float: left;
	margin: 8%;
}

.name {
	color: #ff0000;
}

footer {
	background-color: #808080;
	text-align: center;
	clear: both;
}

.clearfix:after {
    visibility: hidden;
    display: block;        
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}